<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</th:block>
<th:block th:fragment="navigate">
  <nav class="navbar">
    <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggler">
      <span></span><span></span><span></span>
    </label>
    <ul class="nav-links">
      <li><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
      <li><a class="nav-link" th:href="@{/news}">News</a></li>
    </ul>
  </nav>
</th:block>
</html>