<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-css">
    <!-- this is header-css -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <script type="text/javascript"
            src="webjars/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</th:block>
<th:block th:fragment="navigate">
    <!-- this is header -->
    <nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/news}">News</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</html>