<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: navigate"></div>
<div class="container-fluid">
    <h1><p th:text="'News: '"></p></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${NewsList}">
            <td th:text="${{article.publishedAt}}">13/01/2011</td>
            <td th:text="${{article.title}}">13/01/2011</td>
            <td th:text="${{article.author}}">13/01/2011</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>